<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3" style="margin-top: 1rem">
  <label for="filterText" class="form-label digest"><h6>Search for Users</h6></label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="search for users"
    appColor="red"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-info align-items-center">
  <p
    class="fst-italic align-items-center"
    style="margin-top: -1rem; margin-bottom: -1rem"
  >
    {{ filterText }} Searched.
  </p>
</div>

<table class="table table-hover table-bordered caption-top">
  <caption>
    <h4>List of users</h4>
  </caption>
  <thead>
    <tr style="background-color: gainsboro">
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | filter: filterText">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email | lowercase }}</td>
      <td style="text-align: center; width: 10rem">
        <button
          type="button"
          class="btn btn-outline-info"
          style="width: 10rem"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="(user)"
          routerLink="userdetail/{{ user.id }}"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path
              d="M18.5 16.44V6.75a.75.75 0 00-1.5 0v9.69l-2.22-2.22a.75.75 0 10-1.06 1.06l3.5 3.5a.75.75 0 001.06 0l3.5-3.5a.75.75 0 10-1.06-1.06l-2.22 2.22zM2 7.25a.75.75 0 01.75-.75h9.5a.75.75 0 010 1.5h-9.5A.75.75 0 012 7.25zm0 5a.75.75 0 01.75-.75h5.5a.75.75 0 010 1.5h-5.5a.75.75 0 01-.75-.75zm0 5a.75.75 0 01.75-.75h3.5a.75.75 0 010 1.5h-3.5a.75.75 0 01-.75-.75z"
            ></path>
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
